In [ ]:
#No.1 
radius = int(input("Input the radius of a circle: "))
area = 22/7*radius**2

print(area)

In [ ]:
#No.2
first = input("Enter your first name :")
last = input("Enter your last name :")

print(last,first)

In [ ]:
#No.3
color_list = ["Blue","Black","White","Purple"]

print("The first color is",color_list[0],"and the last color is",color_list[-1])

In [ ]:
#No.4
n = int(input("Enter an integer: "))

print(n+n**2+n**3)

In [ ]:
#No.5
r = 3
vol = 4/3*22/7*r

print(vol)

In [ ]:
#No.6
i = int(input("Enter a number: "))
abs_diff = abs(17-i)
if abs_diff > 17 :
    abs_diff = 2*abs_diff

print(f"The absolute difference between {i} and 17 is {abs_diff}")

In [ ]:
#No.7
a,b,c = eval(input("Give three numbers seperated with commas: "))
sum = a+b+c
if a == b == c :
    sum = 3*sum
    print("The three numbers are equal hence the triple of the sum is: ", sum)

print("The sum of the three numbers is ")

In [ ]:
#No.8
i = int(input("Enter a number: "))
if i % 2==0:
    print (f"{i} is even")
else:
    print(f"{i} is odd")

In [ ]:
#No.9
letter = str(input("enter a letter: "))
letter = letter.lower()
vowel = ['a', 'i', 'u', 'e', 'o']
if letter == 'a' or letter == 'i' or letter == 'u' or letter == 'e' or letter == 'o':
   
print(f"{letter} is a vowel")

In [ ]:
#No.10
list = [10, 8, 24, 28, 15, 23, 11]
num = int(input("Enter a number: "))
flag = False
for i in list:
    if num == i:
        flag = True
if flag:
    print("The number is in the list")
else:
    print("The number is not in the list")

In [ ]:
#No.11
numbers = [0, 1, 1, 1, 2, 3, 7, 7, 23]
histogram = {}
for i in numbers:
    histogram[i] = histogram.get(i, 0) + 1

print(histogram)

In [ ]:
#No.12
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]
for i in numbers:
    if i % 2 == 1 :
        
print(i)

In [ ]:
#No.13
base = int(input("Enter the base of a triangle: "))
height = int(input("Enter the height of a triangle: "))
area = 1/2 * base * height

print(f"The area of the triangle is {area}")

In [ ]:
#No.14
num_1 = int(input("Enter a number: "))
num_2 = int(input("Enter a second number: "))
multi_1 = num_1
multi_2 = num_2

while num_1 != num_2 :
    if num_1 < num_2 :
        num_1 += multi_1
    elif num_1 > num_2 :
        num_2 += multi_2
        
print ("The lcm of the two numbers is", num_1)

In [ ]:
#No.15
num_1 = int(input("Enter a number: "))
num_2 = int(input("Enter a second number: "))
num_3 = int(input("Enter a third number: "))
sum = num_1 + num_2 + num_3
if num_1 == num_2 or num_1 == num_3 or num_2 == num_3 :
    sum = 0
    
print("The sum of the three numbers is", sum)

In [ ]:
#No.16
x = int(input("Enter an integer for x: "))
y = int(input("Enter an integer for y :"))
result = (x+y)**2

print(f"({x} + {y})^2 = {result}")

In [ ]:
#No.17
amt = int(input("Enter an amount: "))
inter = float(input("Enter the rate of interest: "))
year = int(input("Enter the number of years: "))
i = 0
while i != year:
    amt = amt + inter/100*amt
    i += 1
amt = "{:.2f}".format(amt)

print(amt)

In [ ]:
#No.18
import math

x1, y1 = eval(input("Enter a point (x, y): "))
x2, y2 = eval(input("Enter a second point (x,y): "))
distance_x = abs(x2-x1)
distance_y = abs(y2-y1)
distance = (distance_x)**2+(distance_y)**2

print ("The distance between the two points is", math.sqrt(distance))

In [ ]:
#No.19
n = int(input("Enter a number: "))
sum = n/2 * (1+n)

print (sum)

In [ ]:
#No.20
feet,inch = eval(input("Enter your height in (foot,inches) seperated by commas: "))
height = feet * 30.48 + inch * 2.54

print ("Your height in centimeter is", height)

In [ ]:
#No.21
import math

base = int(input("Enter the base of the right angled triangle: "))
height = int(input("Enter the height of the right angled triangle: "))
hyp = base**2 + height**2

print("The hypotenuse of the right angled triangle is", math.sqrt(hyp))

In [ ]:
#No.22
height = int(input("Enter your height in centimeters: "))
weight = int(input("Enter your weight in kilograms: "))
bmi = weight/((height/100)**2)

print("Your bmi is", bmi)

In [ ]:
#No.23
x1,y1 = eval(input("Enter the coordinate of the first point of a line (x1,y1): "))
x2,y2 = eval(input("Enter the coordinate of the second point of a line (x2,y2): "))

x_mid = (x1+x2)/2
y_mid = (y1+y2)/2

print(f"The midpoint of the line is ({x_mid}, {y_mid})")

In [ ]:
#No.24
for n in range(2000, 3201):
    if n % 7 == 0 and not n % 5 == 0:
        
print(n, end=",")